body {
    line-height: 1.5;
    white-space: pre-wrap;
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

h1,
h2,
h3 {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2em;
}

h3 {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

#logo {
    border-radius: 15px;
    max-width: 5em;
    max-height: 5em;
}

#hint {
    color: #808080;
}


@media (min-width: 650px) {

    body {
        max-width: 80%;
    }
	
    #image {
	 max-width: 40%;
     margin-left: 10em;
    }
    
    header {
        display: flex;
        max-height: 10em;
        align-items: center;
    }

    #logo {
        margin-left: 10em;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #menuul {
        display: flex;
        margin-left: 0;
    }

    #menuli {
        margin-right: 1.5em;
        margin-left: 0em;
    }

    #menuli {
        background-image: linear-gradient(#000 0 0);
        background-position: 0 100%; /*OR bottom left*/
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition: background-size 0.3s, background-position 0s 0.3s;
        padding-left: 0;
    }

        #menuli:hover {
            background-position: 100% 100%; /*OR bottom right*/
            background-size: 100% 2px;
        }

    h1 {
        margin-left: 5.3em;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    h2, summary {
        margin-left: 6.6em;
    }

    h3 {
        margin-left: 7.9em;
    }

    p, li, code, .bookmark {
        margin-left: 10em;
    }

    #image {
        max-height: 20em;
    }

    .theory, .card, #link, .profile, ul {
        margin-left: 9.85em;
    }

    input, button, textarea {
        margin-left: 12em;
    }

    input {
        width: 38.7%;
    }

    textarea {
        width: 38.7%;
    }

    button {
        width: 40.5%
    }

    .callout {
        margin-left: 10em;
    }

    .card {
        width: 40%;
    }

    #searchicon {
        position: absolute;
        left: 11em;
    }

    .company {
        margin-left: 9.85em;
    }

    #signup {
        width: 80%;
    }
    
    #profilephoto {
        max-height: 5em; 
        margin-left: 9.85em; 
        border-radius: 5px;
    }

    code {
        margin-left: 0;
    }

}

@media (max-width: 650px) {

    body {
        max-width: 95%;
        margin-left: 1em;
    }
	
    #image {
	 max-width: 100%;
    }

    .callout {
        margin-left: 0;
    }
     
    #menuli {
        margin-bottom: 1em;
    }

    #logo {
        margin-left: 0;
        padding-left: 0;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    h1 {
        margin-top: 2em;
        padding-top: 0;
    }

    #menuli {
        background-image: linear-gradient(#000 0 0);
        background-position: 0 100%; /*OR bottom left*/
        background-size: 0% 2px;
        background-repeat: no-repeat;
        transition: background-size 0.3s, background-position 0s 0.3s;
        padding-left: 0;
    }

        #menuli:hover {
            background-position: 90% 100%;
            background-size: 100% 2px;
        }

    #menuul, header {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }

    #searchicon {
        position: absolute;
        left: 1.65em;
    }

    form, input {
        width: 95%;
    }

    button {
        width: 100%;
    }

    textarea {
        width: 95%;
    }

    .company {
        width: 100%;
        margin-left: 0;
        display: flex;
        float: left;
        align-content: end;
        margin-bottom: 2em;
    }
    
    #profilephoto {
        max-height: 5em; 
        margin-left: 0; 
        border-radius: 5px;
    }

    .toggle {
        margin-left: 0.4em;
    }

}

#menuul, #menuli {
    list-style: none;
}

.callout {
    border-radius: 3px;
    padding: 1rem;
    margin-top: 0;
}

.block-color-gray_background {
    background: rgba(241, 241, 239, 1);
}

.icon {
    display: inline-block;
    max-width: 1.2em;
    max-height: 1.2em;
    text-decoration: none;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

img.icon {
    border-radius: 3px;
}

header {
    margin-bottom: 0;
    padding-bottom: 0;
}

#about {
    margin-top: 0;
    padding-top: 0;
    max-height: min-content;
}

a {
    text-decoration: none;
    color: black;
    margin-bottom: 2em;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 1.5em;
    padding: 0.1em 1em 0.1em 1em;
}

.project {
    height: 10em;
}


    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

#cardname {
    margin-left: 0;
    font-weight: 600;
}

#cardcompany {
    font-style: italic;
    opacity: 80%;
    font-size: 0.8rem;
    margin-left: 0;
    margin-top: 0.006rem;
    margin-bottom: 0;
    padding: 0;
}

#company {
    display: flex;
    max-height: 1.2em;
}

#carddescription {
    margin-left: 0;
}

input, textarea {
    padding: 0.6em;
    border: 2px solid #d7d7d7;
    border-radius: 4px;
}

#search {
    padding-left: 2.5em;
}

#searchicon {
    padding-top: 0.45em;
}

button {
    margin-top: 2em;
    padding: 0.8em;
    border: none;
    border-radius: 10px;
    background: #EDFF80;
    font-weight: bold;
}

.card {
    margin-top: 2em;
    margin-bottom: 2em;
}

h3 {
    margin-top: 2em;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0.5em;
}

button {
    color: black;
}

.toggle {
	padding-inline-start: 0em;
	list-style-type: none;
}

/* Indent toggle children */
.toggle > li > details {
	padding-left: 1.7em;
}

.toggle > li > details > summary {
	margin-left: -1.1em;
}

.block-color-gray_background {
	background: rgba(241, 241, 239, 1);
}

ol,
ul {
	margin: 0;
	margin-block-start: 0.6em;
	margin-block-end: 0.6em;
}

li > ol:first-child,
li > ul:first-child {
	margin-block-start: 0.6em;
}

ul > li {
	list-style: disc;
}

ul.to-do-list {
	text-indent: -1.7em;
}

ul.to-do-list > li {
	list-style: none;
}

.to-do-children-checked {
	text-decoration: line-through;
	opacity: 0.375;
}

ul.toggle > li {
	list-style: none;
}

ul {
	padding-inline-start: 1.7em;
}

ul > li {
	padding-left: 0.1em;
}

ol {
	padding-inline-start: 1.6em;
}

ol > li {
	padding-left: 0.2em;
}

.mono ol {
	padding-inline-start: 2em;
}

.mono ol > li {
	text-indent: -0.4em;
}

figure {
	margin: 1.25em 0;
	page-break-inside: avoid;
}

details {
	margin-bottom: 1em;
}

.toggle {
	list-style-type: none;
}

/* Indent toggle children */
.toggle > li > details {
	padding-left: 0;
}

.toggle > li > details > summary {
	margin-left: -1.1em;
}

.code,
code {
	background: rgba(135, 131, 120, 0.15);
	border-radius: 3px;
	padding: 0.2em 0.4em;
	border-radius: 3px;
	font-size: 85%;
	tab-size: 2;
}

code {
	color: #eb5757;
}

.code {
	padding: 1.5em 1em;
}

.code-wrap {
	white-space: pre-wrap;
	word-break: break-all;
}

.code > code {
	background: none;
	padding: 0;
	font-size: 100%;
	color: inherit;
}

.bookmark {
	text-decoration: none;
	max-height: 8em;
	padding: 0;
	display: flex;
	width: 100%;
	align-items: stretch;
    border: 2px solid #d7d7d7
}

.bookmark-title {
	font-size: 0.85em;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 1.75em;
	white-space: nowrap;
}

.bookmark-text {
	display: flex;
	flex-direction: column;
}

.bookmark-info {
	flex: 4 1 180px;
	padding: 12px 14px 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.bookmark-image {
	width: 33%;
	flex: 1 1 180px;
	display: block;
	position: relative;
	object-fit: cover;
	border-radius: 1px;
}

.bookmark-description {
	color: rgba(55, 53, 47, 0.6);
	font-size: 0.75em;
	overflow: hidden;
	max-height: 4.5em;
	word-break: break-word;
}

.bookmark-href {
	font-size: 0.75em;
	margin-top: 0.25em;
}

.code { font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace; }