<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport" />
    <title>Tutory</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header><a href="/" style="margin-bottom: 0"><img id="logo" src="{% static "img/logo.png" %}" /></a><ul id="menuul"><li id="menuli"><a href="/#about">Про нас</a></li><li id="menuli"><a href="/#student">Я - студент</a></li><li id="menuli"><a href="/#business">Я - підприємець</a></li></ul></header><h1>Організація проєктів</h1><div class="callout block-color-gray_background">✨ На цей момент наші курси безкоштовні. Але якщо в тебе є така можливість, ми рекомендуємо заплатити за його використання 200-250 гривень (<a style="text-decoration: underline; text-decoration-color: #808080" href="https://send.monobank.ua/jar/7CnDFdAhLW">нам на банку</a>). Ми допомагаємо розвиватись тобі, а ти допоможи нам!</div><p>Цей курс поки в розробці!</p>
</body>
</html>
