<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport" />
    <title>Tutory</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header><a href="/" style="margin-bottom: 0"><img id="logo" src="{% static "img/logo.png" %}" /></a><ul id="menuul"><li id="menuli"><a href="/#about">Про нас</a></li><li id="menuli"><a href="/#student">Я - студент</a></li><li id="menuli"><a href="/#business">Я - підприємець</a></li></ul></header><h1>Всі проєкти</h1>{% for project in Projects reversed %}<div class="card project" style="height: max-content"><p id="cardname"><a href="/project/{{project.id}}">{{project.name}}</a></p><div id="company"><p id="cardcompany">{{project.user}}</p></div><p id="carddescription">{{project.description|truncatechars:80}}</p></div>{% endfor %}
  </body></html>
