<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport" />
    <title>Tutory</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header><a href="/" style="margin-bottom: 0"><img id="logo" src="{% static "img/logo.png" %}" /></a><ul id="menuul"><li id="menuli"><a href="/#about">Про нас</a></li><li id="menuli"><a href="/#student">Я - студент</a></li><li id="menuli"><a href="/#business">Я - підприємець</a></li></ul></header><h1>Змінити проєкт</h1><form action="" method="POST"><input name="name" type="text" value="{{project.name}}" style="margin-bottom: 0.7em" />{% csrf_token %}<br /><textarea name="description" type="text" style="margin-bottom: 0.7em">{{project.description}}</textarea><br /><input name="category" type="text" value="{{project.category}}" /><button>Зберегти</button></form>
</body>
</html>
