<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport" />
    <title>Tutory</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header><a href="/" style="margin-bottom: 0"><img id="logo" src="{% static "img/logo.png" %}" /></a><ul id="menuul"><li id="menuli"><a href="/#about">Про нас</a></li><li id="menuli"><a href="/#student">Я - студент</a></li><li id="menuli"><a href="/#business">Я - підприємець</a></li></ul></header><h1>Всі курси Tutory</h1><div id="link"><img class="icon" src="{% static "img/icon2.png" %}" /><a href="courses/webdev">Веб-розробка</a></div><br /><div id="link"><img class="icon" src="{% static "{% static "img/icon2.png" %}" %}" /><a href="courses/design">Дизайн</a></div><br /><div id="link"><img class="icon" src="{% static "img/icon3.png" %}" /><a href="courses/project-management">Організація проєктів</a></div><br /><p style="font-style: italic">Якщо ти хочеш розмістити в нас свій курс, звернись на tutory-project@proton.me</p>
</body>
</html>
