<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tutory</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <a href="/" style="margin-bottom: 0"><img id="logo" src="{% static "img/logo.png" %}" /></a>
        <ul id="menuul">
            <li id="menuli"><a href="/#about">Про нас</a></li>
            <li id="menuli"><a href="/#student">Я - студент</a></li>
            <li id="menuli"><a href="/#business">Я - підприємець</a></li>
        </ul>
    </header><div id="link"><img class="icon" src="{% static "img/icon2.png" %}" /><a href="">Розробка програмного забезпечення</a></div>
</body>
</html>