<!DOCTYPE html>
{% load static %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport" />
    <title>Tutory</title>
    <link href="{% static "style.css" %}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <a href="/" style="margin-bottom: 0"><img id="logo" src="{% static "img/logo.png" %}" /></a>
    </header><div><style>        @media (min-width: 650px) {
            h5 {
                margin-left: 12em;
            }
        }
        h5 {margin-top: 2em}
    </style>{% for message in messages %}<h5>{{message}}</h5>{% endfor %}</div><h1>Реєстрація</h1><form action="" method="post">{% csrf_token %}<input style="margin-bottom: 0.7em" type="text" name="username" placeholder="Логін" /><input style="margin-bottom: 0.7em" type="text" name="name" placeholder="Відображаєме ім'я" /><input style="margin-bottom: 0.7em" type="email" name="email" placeholder="Електронна пошта" /><input style="margin-bottom: 0.7em" type="password" name="password" placeholder="Пароль" /><input style="margin-bottom: 0.7em" type="password" name="password2" placeholder="Підтвердіть пароль" /><button type="submit">Зареєструватись</button></form><p><a href="/signin" style="text-decoration: underline; text-decoration-color: #808080">(У мене вже є акаунт)</a></p>
</body>
</html>
